{% extends 'base/base.html' %}
{% load static %}
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>视频详情</title>
<link rel="stylesheet" href="http://at.alicdn.com/t/font_684044_un7umbuwwfp.css">
<meta name="author" content="handsomeFu"/>
{% block link %}
    <link rel="stylesheet" href="../../static/css/course/course-detail.css">
{% endblock %}
{% block main %}
    <!-- main start -->
    <main id="main">
        <div class="w1200">
            <div class="course-contain">
                <div class="course-top-contain">
                    <h4 class="course-title">{{ course.title }}</h4>
                    <div class="course-other clearfix">
                        <div class="share-list">
                            <span>分享至:</span>
                            <i class="PyWhich py-weibo"></i>
                        </div>
                        <div class="buy-list">
                            <span class="price">免费</span>
                        </div>
                    </div>
                </div>
                <div class="course-video" id="course-video">
          <span class="course-data" style="display: none;" data-video-url="{{ course.video_url }}"
                data-cover-url="{{ course.cover_url }}">
          </span>
                </div>
                <div class="course-bottom-contain">
                    <div class="course-detail-list">
                        <div class="course-item clearfix">
                            <h5 class="course-title">{{ course.teacher.name }}</h5>
                            <div class="teacher-box clearfix">
                                <img src="{{ course.teacher.avatar_url }}" alt="{{ course.teacher.name }}"
                                     title="{{ course.teacher.name }}" class="teacher-avatar">
                                <div class="teacher-info">
                                    <p class="teacher-name">{{ course.teacher.name }}</p>
                                    <p class="teacher-identify">{{ course.teacher.positional_title }}</p>
                                </div>
                            </div>
                            <div class="item-content">
                                {{ course.teacher.profile }}
                            </div>
                        </div>
                        <div class="course-item clearfix">
                            <h5 class="course-title">视频简介</h5>
                            <div class="item-content">
                                {{ course.profile }}
                            </div>
                        </div>
                        <div class="course-item clearfix">
                            <h5 class="course-title">视频大纲</h5>
                            <div class="item-content">
                                <p>{{ course.outline | safe }}</p>
                            </div>
                        </div>
                        <div class="course-item clearfix">
                            <h5 class="course-title">帮助中心</h5>
                            <div class="item-content">
                                <p>1. 购买后的课程在线可反复观看学习，视频有效期以具体课程信息为准。 </p>
                                <p>2. 课程暂不支持下载观看，均为在线观看视频。 </p>
                                <p>3. 课程一经购买，不可转让、不可退款；仅限购买账号观看。</p>
                                <p>4. 如有问题请咨询客服: 400-1567-315 </p>
                            </div>
                        </div>
                        <div class="course-item clearfix">
                            <h5 class="course-title">励志格言录</h5>
                            <div class="item-content">
                                <p>
                                    1.自制力强的人，都不会很差：能坚持早起，能坚持锻炼，能坚持读书；不会消耗自己的时间去和人家争论,不会浪费太多精力去讨好无关的人。一个人的最终幸福与成功，长远来看，靠的就是自制力！</p>
                                <p>2.喷泉之所以漂亮是因为她有了压力；瀑布之所以壮观是因为她没有了退路；水之所以能穿石是因为永远在坚持。人生亦是如此！</p>
                                <p>3.生活就是这样，别人只看结果，自己独撑过程，面对生活，我们除了坚强，就是继续，别无选择，路可以回头看，但不可以回头走！</p>
                                <p>4.别抱怨，当目标成了遗憾，命运才给你改变自己的机会。往事既已过去，就应该学着笑对眼前。人生一世，如浮云流水，过往是覆水难收的，我们有的只是现在。</p>
                                <p>
                                    5.有手有脚的人，玩什么颓废;有心有肺的人，玩什么喝醉;有梦有理想的人，说什么太累，从今天起，你就要打起精神，努力奋斗，坚强乐观，永不言弃，让梦想在你的手里开花结果!</p>
                                <p>6.每个人的一生，难免都会遭受挫折和失败。所不同的是：失败者总是把挫折当失败，勇气消失殆尽；成功者则是从不言败，在困难面前越挫越勇！</p>
                            </div>
                        </div>
                    </div>
                    <div class="course-side">
                        <h4 class="side-title">推荐视频</h4>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- main end -->
{% endblock %}
{% block script %}
{#    <script src="{% static 'js/course/course_detail.js' %}"></script>#}
    <script src="https://cdn.bdstatic.com/jwplayer/latest/cyberplayer.js"></script>
{% endblock %}
